.watermark {
    display: none !important;
}


table th {
    background-color: #a86508; /* Change this to your desired color */
}


table td:nth-child(2) {
    background-color: #FFD700; /* Change this to your desired color */
}
